*{
    padding:0;
    margin:0;
    font-family: 'Roboto', sans-serif;
}



.education-entry, .work-entry, .project-entry {
  padding-left: 5%;
  padding-right: 5%;
}


h1 {
  
  font-size: 40px;
  color: #F5A623;
  line-height: 48px;
  display: inline;
}

h2 {
  font-style: bold;
  font-size: 24px;
  color: #999999;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #000000;
  line-height: 22px;
}

h4 {
  font-style: bold;
  font-size: 14px;
  color: #4A4A4A;
  line-height: 17px;
}

h2, h3, h4, h5 {
  padding:10px;
  padding-left: 5%;
  padding-right: 5%;
}


.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999999;
  line-height: 16px;
}

p {
  font-size: 14px;
  color: #333333;
  line-height: 21px;
}

a {
  color: #1199C3;
  text-decoration: none;
}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: #F3F3F3;
  line-height: 28px;
}

.orange {
  background-color: #F5AE23;
}

.orange-text {
  color: #F5AE23;
}

.white-text {
  font-weight: bold;
  color: #FFFFFF;
}

.gray {
  background-color: #F3F3F3;
  padding-bottom: 10px;
  clear:both;
}

.dark-gray {
  background-color: #4A4A4A;
}

/* TODO: Replace with image later */
#header {
  background-color: #292991;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.center-content {
  padding: 5%;
}

ul {
  list-style-type: none;
}


.biopic {
  float: left;
  padding: 10px;
}


/* Bar chart stuff */
.chart div {
  font: 10px sans-serif;
  background-color: #4A4A4A;
  text-align: right;
  padding: 3px;
  margin: 1px;
  height: 12px;
  color: white;
  display: inline-block;
}

